h2 #{title}
form(method='post')

  p
    label(for="username") Username:
      input(type='text', name='username', size=100, value=users.username)
  p
    label(for="nombre") Nombre:
      input(type='text', name='nombre', value=users.nombre)

  p
    label(for="correo") Correo:
      input(type='text', name='correo', value=users.correo)

  